*

!.gitconfig
!.gitignore

!.zshrc

!.config/

!.config/tmux
!.config/tmux/*
.config/tmux/plugins/*

!.config/ranger
!.config/ranger/*
!.config/ranger/**

!.config/alacritty
!.config/alacritty/*
!.config/alacritty/**

!.config/ghostty
!.config/ghostty/*
!.config/ghostty/**

!.config/aweseome
!.config/aweseome/**
!.config/aweseome/**
